.contents {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: #efefef;
  height: 100%;
  padding: 60px 8px 10px 8px;
  -moz-box-shadow: 0px 6px 1px #000;
  -webkit-box-shadow: 0px 6px 1px #000;
  box-shadow: 0px 0px 1px #000;
}
html {
  height: 100%;
}
body {
  height: 100%;
}

.albumpre {
  float: left;
  position: relative;
  width: 100%;
  text-align: center;
}

.albumpre img {
  position: absolute;
}

.albums li {
  list-style: none;
}

.thumb1 {
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
}
.thumb2 {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
}
.thumb3 {
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
}


.album {
  text-align: center;
  vertical-align: middle;
}
#caption {
  text-align: center;
}
#slideshow {
  text-align: center;
}
#slideshow img {
  border: 15px solid #fff;
  box-shadow: 1px 1px 10px #000;
  margin: 10px;
}
#slideshow a:hover {
  text-decoration: none;
}
#controls a {
  padding: 0 5px;
}
div.ss-controls {
	float: left;
}
div.nav-controls {
	float: right;
}
#thumbs {
  padding-top: 15px;
}
#thumbs img {
  border: 5px solid #fff;
  box-shadow: 1px 1px 10px #000;
}
ul.thumbs {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}
ul.thumbs li {
	float: left;
	padding: 0;
	margin: 2px;
	list-style: none;
}
a.thumb {
	padding: 1px;
	display: block;
}
a.thumb:focus {
	outline: none;
}
ul.thumbs img {
	border: none;
	display: block;
}
.bottom.pagination {
  float: right;
}