<% content_for :js do %>
  <%= javascript_include_tag 'libs/jquery.history.js' %>
  <%= javascript_include_tag 'libs/jquery.galleriffic.js' %>
  <%= javascript_include_tag 'libs/jquery.opacityrollover.js' %>
  <script type="text/javascript">
    var gallery = $('#thumbs').galleriffic({
      delay:                     3000, // in milliseconds
      numThumbs:                 5, // The number of thumbnails to show page
      preloadAhead:              5, // Set to -1 to preload all images
      enableTopPager:            false,
      enableBottomPager:         true,
      maxPagesToShow:            7,  // The maximum number of pages to display in either the top or bottom pager
      imageContainerSel:         '#slideshow', // The CSS selector for the element within which the main slideshow image should be rendered
      controlsContainerSel:      '#controls', // The CSS selector for the element within which the slideshow controls should be rendered
      captionContainerSel:       '#caption', // The CSS selector for the element within which the captions should be rendered
      loadingContainerSel:       '#loading', // The CSS selector for the element within which should be shown when an image is loading
      renderSSControls:          true, // Specifies whether the slideshow's Play and Pause links should be rendered
      renderNavControls:         true, // Specifies whether the slideshow's Next and Previous links should be rendered
      playLinkText:              'Play Slideshow',
			pauseLinkText:             'Pause Slideshow',
			prevLinkText:              '&lsaquo; Previous Photo',
			nextLinkText:              'Next Photo &rsaquo;',
			nextPageLinkText:          'Next &rsaquo;',
			prevPageLinkText:          '&lsaquo; Prev',
      enableHistory:             false, // Specifies whether the url's hash and the browser's history cache should update when the current slideshow image changes
      enableKeyboardNavigation:  true, // Specifies whether keyboard navigation is enabled
      autoStart:                 false, // Specifies whether the slideshow should be playing or paused when the page first loads
      syncTransitions:           false, // Specifies whether the out and in transitions occur simultaneously or distinctly
      defaultTransitionDuration: 1000, // If using the default transitions, specifies the duration of the transitions
      onSlideChange:             undefined, // accepts a delegate like such: function(prevIndex, nextIndex) { ... }
      onTransitionOut:           undefined, // accepts a delegate like such: function(slide, caption, isSync, callback) { ... }
      onTransitionIn:            undefined, // accepts a delegate like such: function(slide, caption, isSync) { ... }
      onPageTransitionOut:       undefined, // accepts a delegate like such: function(callback) { ... }
      onPageTransitionIn:        undefined, // accepts a delegate like such: function() { ... }
      onImageAdded:              undefined, // accepts a delegate like such: function(imageData, $li) { ... }
      onImageRemoved:            undefined  // accepts a delegate like such: function(imageData, $li) { ... }
    });
  </script>
<% end %>


<div id="controls"></div>
<div id="loading"></div>
<div id="slideshow"></div>
<div id="caption"></div>

<div id="thumbs">
  <a class="pageLink prev" style="visibility: hidden;" href="#" title="Previous Page"></a>
  <ul class="thumbs noscript">
    <li>
      <a class="thumb" name="1" href="images/album1/2.jpg" title="your image title">
        <img src="images/album1/thumbs/2.jpg" alt="your image title again for graceful degradation" />
      </a>
      <div class="caption">figura 1</div>
    </li>
    <li>
      <a class="thumb" name="2" href="images/album1/3.jpg" title="your image title">
        <img src="images/album1/thumbs/3.jpg" alt="your image title again for graceful degradation" />
      </a>
      <div class="caption">figura 2</div>
    </li>
    <li>
      <a class="thumb" name="1" href="images/album1/2.jpg" title="your image title">
        <img src="images/album1/thumbs/2.jpg" alt="your image title again for graceful degradation" />
      </a>
      <div class="caption">figura 1</div>
    </li>
    <li>
      <a class="thumb" name="2" href="images/album1/3.jpg" title="your image title">
        <img src="images/album1/thumbs/3.jpg" alt="your image title again for graceful degradation" />
      </a>
      <div class="caption">figura 2</div>
    </li>
    <li>
      <a class="thumb" name="1" href="images/album1/2.jpg" title="your image title">
        <img src="images/album1/thumbs/2.jpg" alt="your image title again for graceful degradation" />
      </a>
      <div class="caption">figura 1</div>
    </li>
    <li>
      <a class="thumb" name="2" href="images/album1/3.jpg" title="your image title">
        <img src="images/album1/thumbs/3.jpg" alt="your image title again for graceful degradation" />
      </a>
      <div class="caption">figura 2</div>
    </li>
    <li>
      <a class="thumb" name="2" href="images/album1/5.jpg" title="your image title">
        <img src="images/album1/thumbs/5.jpg" alt="your image title again for graceful degradation" />
      </a>
      <div class="caption">figura 2</div>
    </li>
  </ul>
  <a class="pageLink next" style="visibility: hidden;" href="#" title="Next Page"></a>
</div>
